<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Jita Chat</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="/css/normalizer.css" rel="stylesheet">
  <link href="/css/banned.css" rel="stylesheet">
</head>

<body>
  <script src="/js/index.js"></script>
  <div class='centerdiv'>
    <h1 class='title'>BANNED</h1>
    <h3 class='subtitle'>YOU HAVE BEEN BANNED FROM JITA.CHAT</h3>
    <h3 class='para'>Ban length : Indefinite</h3>

  </div>
</body>

</html>