<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>
  <link href='/css/room.css' rel='stylesheet' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class='topbar'>
  </div>
  <hr>
  <div class='topbar secondBar'>
    <p class='normalText onlineCount'>0</p>
    <img class='user' src='/img/user.svg' />

  </div>
  <div class='chatBox'>

  </div>


  <div class='memberList'>

  </div>


  <div class='messageBox'>
    <form action='' id='message'>
      <textarea id='m' autocomplete="off"></textarea>
    </form>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/chat.js"></script>

</body>

</html