<!doctype html>
<html>

<head>
  <title>Jita Chat</title>

  <link href='/css/room.css' rel='stylesheet' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class='topbar'>

  </div>
  <hr>
  <div class='topbar secondBar'>
    <a href="#"><img class='gear' src='/img/gear.svg' /></a>
    <a href="#"><img class='gear' src='/img/team.svg' /></a>
    <p class='normalText onlineCount'>0</p>
    <img class='user' src='/img/user.svg' />

  </div>
  <div id='chatBox' class='chatBox'>

  </div>


  <div class='memberList'>

  </div>


  <div class='messageBox'>
    <form action='' id='message'>
      <div id='m' class="editable" ondrop="drop(event)"></div>
    </form>
  </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/chat.js"></script>

</body>

</html