<html>

<head>
  <title>Jita Chat</title>
  <meta content="width=device-width, initial-scale=1" name="viewport" />

  <link href='/css/room.css' rel='stylesheet' />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div class="topBar">
    <p class="normalText onlineCountText">Online : <span class="onlineCount">0</span></p>
  </div>
  <div class="topBar">
    <p class='normalText connectionStatus'>Connected</p>
    <p class='normalText ping'>Ping: calculating</p>
  </div>

  <div class="mainDiv">

    <div class="chatDiv">

      <div id="chatBox" class="messageDiv chatBox">

      </div>

      <div>
        <form action='' id='message'>
          <div id='m' class="textDiv" ondrop="drop(event)" contenteditable="true" data-text="Enter Message Here">

          </div>
        </form>

      </div>

    </div>


    <div class="memberDiv memberList">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>

</html>