<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Jita Chat</title>
  <link rel="icon" href="/img/favicon.ico">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="/css/normalizer.css" rel="stylesheet">
  <link href="/css/rules.css" rel="stylesheet">
</head>

<body>
  <h1>RULES</h1>
  <strong>Be respectful of others at all times</strong>
  <p>The purpose of this website is to provide a platform for the exchange of information. Occasionally, there will be conflicts that arise when people voice opinions. Be courteous when disagreeing with others. It is possible to disagree without
    being insulting.</p>
  <strong>Be community-minded</strong>
  <p>Express yourself in ways that are constructive and will help to foster the growth of the community. A free exchange of ideas is essential to building a strong sense of community.</p>
  <strong>Personal attacks are prohibited</strong>
  <p>Commonly known as "flaming," personal attacks are statements which are designed to personally berate or insult another. Text of this nature is not beneficial to the community spirit and will not be tolerated. Corporation, faction members and
    other players are cautioned to avoid allowing an "in character" dispute become an "out of character" personal attack. The game is designed for role playing and/or portraying a role and it is sometimes easy for tempers to flare when the lines
    between the virtual world and the real world are crossed. Keep ingame disputes out of these channels, please.</p>
  <strong>Trolling is prohibited</strong>
  <p>"Trolling" is the phrase used to describe a remark which is deliberately designed for the purpose of angering and insulting the members of the community. Comments of this nature are disruptive and will not be tolerated.</p>
  <strong>No sharing of personal information</strong>
  <p>For your safety, we prohibit the exchange of personal information such as phone numbers and addresses in the channels.</p>
  <strong>Immediate banning from a channel may result from any of the following</strong>
  <p>discussions regarding pornography or inappropriately gruesome and/or hideous subjects; discriminatory remarks which are sexually explicit, harmful, threatening, abusive, defamatory, obscene, hateful, racially or ethnically offensive; excessive
    obscene or vulgar language; the discussion of illegal activity; or providing links to sites that contain any of the aforementioned.</p>
  <strong>Spamming is prohibited.</strong>
  <p>"Spam" is considered to be a repetitive display of the same text again and again in an effort to cause inconvenience. Using all caps is also considered spamming and not permitted.</p>
  <strong>Impersonating a volunteer or CCP employee is strictly prohibited</strong>
  <p>and may result in the permanent revocation of your channel access, temporary suspension or permanent banning of your account.</p>
  <strong>You agree to the rules stated above as well as the terms and services of EVE ONLINE© by CCP© as stated <a href="https://community.eveonline.com/support/policies/terms-of-service-en/" target="_blank">HERE</a> by continuing to use this
    website</strong>
  <br><br><br>
  <a href='/room' class="joinButton">JOIN ROOM</a>
</body>

</html>