body {
  margin: 0;
  background-color: #080808;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.centerdiv {
  text-align: center;
  margin-top: -4%;
}

.title {
  margin-bottom: 0;
  font-size: 17vw;
font-family: 'Montserrat', sans-serif;
  color: #1abc9c;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

.subtitle {
  margin-top: -1%;
  letter-spacing: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2vw;
  color: white;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

.para {
  letter-spacing: 0.20rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  color: white;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

img {
  display: block !im;
}

.joinButton {
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 10px 31px;
  text-decoration: none;
}

.joinButton:hover {
  background-color: transparent;
}

.joinButton:active {
  position: relative;
  top: 1px;
}

.patron {
  position: absolute;
  top: 0%;
  right: 0%;
  max-width: 175px;
  max-height: 175px;
}

.normalText {
  color: #f8f8ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.isk {
  font-size: 0.75rem;
  position: absolute;
  bottom: 1px;
  left: 10px;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #1abc9c;
}

.mail{
  user-select:text;
}
