@font-face {
font-family: 'Exodar';
src: url('exodar.ttf') format('truetype');
}

body{
  margin: 0;
  background-color: #080808;
}

.centerdiv{
  padding-bottom: 0;
  text-align: center;
  width:100%;
  height: 40%;
  margin-top: 5%;
  margin-bottom: 0;
}

.bottomdiv{
  margin-top: 0;
  padding-bottom: 0;
  text-align: center;
  width:100%;
  height: 40%;
}
.title{
  margin-bottom: 0;
  font-size: 1250%;
  font-family:'Exodar';
color: #1abc9c;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

.subtitle{
  display: block !important;
  letter-spacing: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 125%;
  color: white;
  font-weight: 100;
  text-rendering: optimizeLegibility;
}

img{
  display: block !im;
}
