@font-face {
font-family: 'evesans';
src: url('eve-regular.otf') format('opentype');
}


::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #242424;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #323232;
}
::-webkit-scrollbar-thumb:active {
  background: #f8f8ff;
}
::-webkit-scrollbar-track {
  background: #1c1c1c;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #1c1c1c;
}
::-webkit-scrollbar-track:active {
  background: #1c1c1c;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  margin: 0;
  background-color: #020202;
  overflow-x: hidden;

}

form {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}


#messages {
  list-style-type: none;
  padding: 0;
}

.msg {
  min-height: 55px;
  clear: both;
  margin-left: 0;
  font-family: 'evesans' , sans;
  font-weight: 200;
  letter-spacing: 0.025rem;
  padding: 5px 10px;
  background-color: transparent;
  color:white;
  -webkit-transition: background 0.25s; /* For Safari 3.0 to 6.0 */
  transition: background 0.25s; /* For modern browsers */
  font-weight: 100;
}

.msg:hover{
  background-color: #1a1a1a;
}


.topbar{
  background-color: #020202;
  height: 3vh;
  width: 100vw;
  margin: 0;
  border-style :ridge;
  border-color: #0f1011;
  border-width: 0 2px;
  vertical-align: middle;
}

.secondBar{
  padding-right: 5px;
  vertical-align: middle;
}

hr{
  height: 2px;
  background-color:#0f1011;
  border: none;
}

.chatBox{
  float:left;
  background-color: #080808;
  width: 80%;
  height: 79vh;
  border-style :ridge;
  border-color: #0f1011;
  border-width: 2px;
  margin-bottom: 1vh;
  overflow-y: auto;
  padding-bottom: 25px;
}

.memberList{
  float:right;
  height: 79vh;
  width: 19.5%;
  background-color: #080808;
  border-style: ridge;
  border-color: #0f1011;
  margin-bottom: 1vh;
  border-width: 2px;
  overflow: auto;
}

.messageBox{
  text-align: center;
  height: 14vh;
}

textarea{
  color: white;
  outline: none;
  background-color: #080808;
  resize: none;
  height: 100%;
  width: 100vw;
  border-color: #0f1011;
  border-style: ridge;
  padding-top: 0.75%;
  padding-left: 0.5%;
}

form{
  border-color: #0f1011;
  border-width: 2px;
  height: 18%;
  width: 100vw;
}

.imageBox{
display: inline;

}
.potrait{
  float: left;
  height: 40px;
  width: 40px;
  border-style: ridge;
  border-color: #0f1011;
  border-width: 2px;
  margin-right: 10px;
}

img,p{
  display: inline;
}

.msgText{
  overflow: hidden;
  display: block;
  margin-top: 5px;
  margin-left: 10px;
}

.normalText{
  color: #f8f8ff;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
}

.user{
  float:right;
  display: inline;
  max-width: 80%;
max-height: 80%;
margin-right: 5px;
}

.gear{
  float:left;
  display: inline;
  max-width: 80%;
max-height: 80%;
margin-left: 5px;
margin-right: 5px;
}


.onlineCount{
  display: inline;
  float:right;
}

.ping{
  display: inline;
  float:right;
}


.member {
  clear: both;
  margin-left: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 200;
  letter-spacing: 0.025rem;
  padding: 5px 0;
  background-color: transparent;
  color:white;
  height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-transition: background 0.25s; /* For Safari 3.0 to 6.0 */
  transition: background 0.25s; /* For modern browsers */
}

.member:hover{
    background-color: #1a1a1a;
}
.memberText{
  white-space: nowrap;
  margin-top: 12px;
  margin-left: 10px;
}

hr{
  clear: both;
}

.name{
  font-family: 'evesans' , sans;
  color : #1abc9c !important;
}

div.editable {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
    color: #f8f8ff;
    outline: none;
    background-color: #080808;
    resize: none;
    height: 100%;
    width: 100vw;
    border-color: #0f1011;
    border-style: ridge;
    padding-top: 0.75%;
    padding-left: 0.5%;
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}

a,a:visited,a:hover,a:active{
  text-decoration: none;
  font-family: 'evesans' , sans;
  color : #1abc9c !important;
}

img{
   user-drag : none;
  -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
 user-select: none;

}


.report{
  color:red;
  cursor: pointer;
  font-weight: bolder;
}

.connectionStatus{
  margin-left : 0.1%;
  float: left;
}
